<%= form_with model: @category, id: "exercise_category-btn", local: true do |f|  %>
  <%= render 'shared/error_messages', object: @category %>

  <div>
    <div class="exercise_category-form">
      <%= f.label :name %>
      <%= f.text_field :name, placeholder: "15文字以内", required: true, class: "form-control" %>
    </div>
  <div>

  <div>
    <div id="categories">
      <div class="links add-exercise_content-form">
        <%= f.label :content, '運動コンテンツ' %> & <%= f.label :mets, 'メッツ' %>
        <span>
          <%= link_to_add_association '＋', f, :exercise_contents,
            id: "add-link",
            class: "add-exercise_content-button btn btn-sm btn-primary",
            data: {
              association_insertion_node: '#detail-association-insertion-point',
              association_insertion_method: 'append'
            }
          %>
        </span>
      </div>

      <%= f.fields_for :exercise_contents do |exercise_content| %>
        <%= render 'exercise_content_fields', f: exercise_content %>
      <% end %>
    </div>
    
    <div id="detail-association-insertion-point"></div>
  <div>
<% end %>
