<div class= "exercise_category">
  <h5>運動カテゴリー一覧</h5>
  <%= link_to '新規登録', new_exercise_category_path %>
  <table>
    <% @categories.each do |category| %>
      <tr>
        <td>
          <%= category.id %>.
          <%= category.name %>
        </td>
        <td><%= link_to '編集', edit_exercise_category_path(category) %></td>
        <td><%= link_to '削除', exercise_category_path(category), method: :delete %></td>
      </tr>
    <% end %>
  </table>
</div>
