<div class="box1 center">
  運動カテゴリ一覧
</div>

<div class="box1">
  <%= link_to '新規登録', new_exercise_category_path, class: "btn btn-primary" %>
</div>

<div class="box1">
  <table class="table table-bordered table-striped">
    <thead class="thead-original">
      <tr>
        <th><%= ExerciseCategory.human_attribute_name :name %></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    
    <tbody>
      <% @categories.each do |category| %>
        <tr>
          <td><%= category.name %></td>
          <td class="center">
            <%= link_to '編集', edit_exercise_category_path(category), class: "exercise_categoty-table-edit" %>
          </td>
          <td class="center">
            <%= link_to '削除', exercise_category_path(category), method: :delete,
                                                                  class: "exercise_categoty-table-delete",
                                                                  data: {confirm: "本当に削除しますか？"}  %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
