<% provide(:title, "更新") %>
<% provide(:btn_text, "更新") %>


<%= render "layouts/traning_tab" %>

<div class="box1">
  <div class="box-inner">
    <div class="title-layout"><span>トレーニング種目編集</span></div><br>
    <%= form_with(model: @traningevent, url: user_traningevent_path(@user, @traningevent, bodypart_id: params[:bodypart_id], subbodypart_id: params[:bodypart_id], traningtype_id: params[:traningtype_id], start_date: params[:start_date], start_time: params[:start_time]), method: :patch, local: true) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      
      <%= f.label :traning_name, class: "label-form" %><a style="color: red; margin-left: 5px;">*入力必須(上のタブで部位名など選択)</a>
      <%= f.text_field :traning_name, class: "form-control" %><br>
      
      <%= f.submit yield(:btn_text), class: "btn btn-md btn-original btn-form  btn-block btn-setup" %>
      <%= link_to "戻る", user_today_tranings_traning_new_path(@user, bodypart_id: params[:bodypart_id], subbodypart_id: params[:subbodypart_id], traningtype_id: params[:traningtype_id], traningevent_id: @traningevent, start_time: params[:start_time], start_date: params[:start_date]), class:"btn btn-md btn-form  btn-block btn-setup" %>
      
      <%= f.hidden_field :bodypart_id, value: params[:bodypart_id] %>
      <%= f.hidden_field :subbodypart_id, value: params[:subbodypart_id] %>
      <%= f.hidden_field :traningtype_id, value: params[:traningtype_id] %>
      
    <% end %>
  </div>
</div>
