<% provide(:title, "更新") %>
<% provide(:btn_text, "更新") %>


<div class="row">
  <div class="col-md-6 offset-md-3">
    
    <h1>トレーニング種目追加</h1><br>
    
    <%= form_with(model: @traningevent, url: user_traningevent_path(current_user, start_date: params[:start_date], start_time: params[:start_time]), method: :patch, local: true) do |f| %>
      
      <%= f.label :sub_body_part, class: "label-form" %><br>
      <%= f.select :sub_body_part, options_for_select(@sub_bodyparts), {include_blank: '選択してください'}, {class: 'form-control'} %><br>
      
      <%= f.label :traning_name, class: "label-form" %><br>
      <%= f.text_field :traning_name, class: "form-control" %><br>
      
      <%= f.submit yield(:btn_text), class: "btn btn-lg btn-original btn-form  btn-block btn-setup" %>

    <% end %>
  </div>
</div>
