<% provide(:title, "新規作成") %>
<% provide(:btn_text, "登録") %>

<%= render "layouts/traning_tab" %>

<div class="box1">
  <div class="box-inner">
    <h5>トレーニング種目追加</h5><br>
    <%= form_with(model: @traningevent, url: user_traningevents_path(@user, bodypart_id: params[:bodypart_id], subbodypart_id: params[:bodypart_id], traningtype_id: params[:traningtype_id], today_traning_day_id: @today_traning_day, start_date: params[:start_date], start_time: params[:start_time]), method: :post, local: true) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      
      <%= f.label :traning_name, class: "label-form" %><a style="color: red; margin-left: 5px;">*入力必須(上のタブで部位名など選択)</a>
      <%= f.text_field :traning_name, class: "form-control" %><br>
      
      <%= f.hidden_field :bodypart_id, value: params[:bodypart_id] %>
      <%= f.hidden_field :subbodypart_id, value: params[:subbodypart_id] %>
      <%= f.hidden_field :traningtype_id, value: params[:traningtype_id] %>
      
      <%= f.submit yield(:btn_text), class: "btn btn-lg btn-original btn-form  btn-block btn-setup" %>
    <% end %>
  </div>
</div>
