<h1>Traningevents#show</h1>
<p>Find me in app/views/traningevents/show.html.erb</p>
<table class="table table-striped">
  <tbody>
    <tr>
      <th><%= @traningevent.traning_name %></th>
      <th><%= @traningevent.body_part %></th>
      <th><%= @traningevent.sub_body_part %></th>
      <th><%= link_to "編集", edit_user_traningevent_path(current_user, @traningevent, start_date: params[:start_date], start_time: params[:start_time]), class: "btn btn-success" %></th>
      <th><%= link_to "削除", user_traningevent_path(current_user, @traningevent, start_date: params[:start_date], start_time: params[:start_time]), method: :delete,
              data: { confirm: "「#{@traningevent.traning_name}を削除します。よろしいですか？" }, class: "btn btn-danger" %>
      <th>
    </tr>
  </tbody>
</table>