<div class="col col-md-12">
  <div class="admin-form flex-form">
    <div class="flex-form-right" style="padding: 5px 5px 0 0;">登録件数：<%= User.count %>件</div>
  </div>

  <div class="overflow-table">
    <table class="table table-sm table-bordered table-striped">
      <thead class="thead-original">
        <tr>
          <th><%= User.human_attribute_name :id %></th>
          <th><%= User.human_attribute_name :username %></th>
          <th><%= User.human_attribute_name :nickname %></th>
          <th><%= User.human_attribute_name :email %></th>
          <th><%= User.human_attribute_name :created_at %></th>
          <th></th>
        </tr>
      </thead>
      
      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td data-toggle="tab"><%= user.id %></td>
          <td><%= user.username %></td>
          <td><%= user.nickname%></td>
          <td><%= user.email %></td>
          <td><%= user.created_at.to_s(:date) %></td>
          <td><%= link_to '詳細', user_detail_path(user.id), remote: true %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= paginate @users, param_name: :user_page %>
</div>

<div id="detail-user-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
