
<%= render "layouts/setting_tab" %>

<div class="box1">
  <div class="card">
    <div class="card-header">
      基礎代謝
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <%= @bmr_format %>kcal
      </blockquote>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      1日の摂取カロリー
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <%= @day_calorie %>kcal
      </blockquote>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      1日の可能摂取カロリー
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <%= @day_target_calorie %>kcal
      </blockquote>
    </div>
  </div>
  
  <div class="row">
    <% @target_pfcs.each do |name, calorie, gram| %>
      <div class="col-md-4">
        <div class="card">
          <div class="card-header">
            <%= name %>
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <%= gram %>g(<%= calorie %>kcal)
            </blockquote>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
  
  
      <%= link_to "目標編集", edit_user_targetweight_path(@user, @target_weight, start_date: params[:start_date], start_time: params[:start_time]), class: "btn btn-md btn-primary btn-edit" %>
      <%= link_to "基本設定編集", edit_user_bmr_path(@user, @bmr, startw_date: params[:start_date], start_time: params[:start_time]), class: "btn btn-md btn-primary btn-edit" %>
      <% if @pfc.present? %>
        <%= link_to "PFC", edit_user_pfc_ratio_path(@user, @pfc, start_date: params[:start_date], start_time: params[:start_time]), class: "btn btn-md btn-primary" %>
      <% else %>
        <%= link_to "PFC", new_user_pfc_ratio_path(@user, @pfc, start_date: params[:start_date], start_time: params[:start_time]), class: "btn btn-md btn-primary" %>
      <% end %>
    
