

<div class="box1">
  <div class="row">
    
    <div class="col-md-3 offset-md-5 align-self-center">
      <%= link_to(user_path(current_user, start_time: params[:start_time].to_date.yesterday, start_date: params[:start_date].to_date.prev_month)) do %>
        <div class="arrow round-arrow-left"></div>
      <% end %>
      <a style="color: #274277;"><%= params[:start_time] %></a>
      <%= link_to(user_path(current_user, start_time: params[:start_time].to_date.tomorrow, start_date: params[:start_date].to_date.next_month)) do %>
        <div class="arrow round-arrow-right"></div>
      <% end %>
    </div>
    <div class="col-md-3 align-self-center">
      <%= link_to(user_bodyweights_calender_path(current_user, start_time: params[:start_time], start_date: params[:start_date]), remote: true) do %>
        <div class="calendar"></div>
      <% end %>
    </div>
  </div>
</div>


<div class="box1">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="tab-area">
        <div class="tab active">
          体重
        </div>
        <div class="tab">
          体脂肪率
        </div>
      </div>  
    </div>
  </div>
  <div class="content-area">
    <div class="content show">
      <%= render 'bodyweight' %>
    </div>
    <div class="content">
      <%= render 'bodyfat_percentage' %>
    </div>
  </div>
</div>




<div class="box1">
  <div class="row">
    <div class="col">
      <%= link_to "目標編集", edit_user_targetweight_path(current_user, start_date: params[:start_date], start_time: params[:start_time]), class: "btn btn-md btn-primary btn-edit" %>
      <%= link_to "基礎代謝編集", edit_user_bmr_path(current_user, start_date: params[:start_date], start_time: params[:start_time]), class: "btn btn-md btn-primary btn-edit" %>
      
      基礎代謝：<%= bmr_format(@bmr.gender, @target_weight.now_body_weight, @newwest_bodyweight.sum, @bmr.height, @bmr.age).floor(1) %>kcal, 
      
      1日摂取カロリー：<%= bmr_format_activty(bmr_format(@bmr.gender, @target_weight.now_body_weight, @newwest_bodyweight.sum, @bmr.height, @bmr.age), @bmr.activity).floor(1) %>, 
      
      1日の可能摂取カロリー：
      <%= one_day_decrease(
                            bmr_format_activty(bmr_format(@bmr.gender, @target_weight.now_body_weight, @newwest_bodyweight.sum, @bmr.height, @bmr.age), @bmr.activity).floor(1),
                            @target_weight
                          ) 
      %>

      P： <%= pfc_format(
                          one_day_decrease(
                                            bmr_format_activty( 
                                                                bmr_format(
                                                                            @bmr.gender, @target_weight.now_body_weight, @newwest_bodyweight.sum, @bmr.height, @bmr.age
                                                                          ), 
                                                                @bmr.activity
                                                              ).floor(1),
                                            @target_weight
                                          ), 
                          20, 
                          4
                        ) 
          %>g
      F： <%= pfc_format(
                          one_day_decrease(
                                            bmr_format_activty( 
                                                                bmr_format(
                                                                            @bmr.gender, @target_weight.now_body_weight, @newwest_bodyweight.sum, @bmr.height, @bmr.age
                                                                          ), 
                                                                @bmr.activity
                                                              ).floor(1),
                                            @target_weight
                                          ), 
                          20, 
                          9
                        ) 
          %>g
      C： <%= pfc_format(
                          one_day_decrease(
                                            bmr_format_activty( 
                                                                bmr_format(
                                                                            @bmr.gender, @target_weight.now_body_weight, @newwest_bodyweight.sum, @bmr.height, @bmr.age
                                                                          ), 
                                                                @bmr.activity
                                                              ).floor(1),
                                            @target_weight
                                          ), 
                          60, 
                          4
                        ) 
          %>g
    </div>
  </div>
</div>

<div id="calender" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>


  
  







