

<div class="box1">
  <div class="row">
    
    <div class="col-md-3 offset-md-5 align-self-center">
      <%= link_to(user_path(current_user, start_time: params[:start_time].to_date.yesterday, start_date: params[:start_date].to_date.prev_month)) do %>
        <div class="arrow round-arrow-left"></div>
      <% end %>
      <a style="color: #274277;"><%= params[:start_time] %></a>
      <%= link_to(user_path(current_user, start_time: params[:start_time].to_date.tomorrow, start_date: params[:start_date].to_date.next_month)) do %>
        <div class="arrow round-arrow-right"></div>
      <% end %>
    </div>
    <div class="col-md-3 align-self-center">
      <%= link_to(user_bodyweights_calender_path(current_user, start_time: params[:start_time], start_date: params[:start_date]), remote: true) do %>
        <div class="calendar"></div>
      <% end %>
    </div>
  </div>
</div>


<div class="box1">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="tab-area">
        <div class="tab active">
          体重
        </div>
        <div class="tab">
          体脂肪率
        </div>
      </div>  
    </div>
  </div>
  <div class="content-area">
    <div class="content show">
      <%= render 'bodyweight' %>
    </div>
    <div class="content">
      <%= render 'bodyfat_percentage' %>
    </div>
  </div>
</div>

<%= render 'bmr' %>

<div class="box1">
  <div class="row">
    <div class="col-md-6">
      <canvas id="chest_recovery" width="100" height="30"></canvas>
      <script>chest_recovery_graph();</script>
    </div>
  </div>
</div>

<div id="calender" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
