
<!--その他仮置き-->

<div class= "user-show">
  <h1>Users#show</h1>
  <p>Find me in app/views/users/show.html.erb</p>
  <div><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></div>
  <div>ログインしているユーザー[<%= current_user.username %>]</div>
  <div><%= link_to "ユーザー情報変更", edit_user_registration_path %></div>
  <div>日にち<%= params[:start_time] %></div>
  <% if @body_weight.nil? %>
    <div></div>
  <% else %>
    <div>本日の体重は<%= @body_weight.body_weight %>kgです</div>
  <% end %>
  <div>
    <%= 
      link_to "体重編集", edit_user_bodyweight_path(
      user_id: current_user, id: params[:bodyweight_id], start_time: params[:start_time])
    %>
  </div>
</div>

<!--カレンダー-->

<div class="calender">
  <%= month_calendar events: @body_weights do |date, events| %>
    <% if @body_weight.start_time == date %>
      <%= link_to date.day, user_path(current_user, start_time: date) %>
    <% else %>
      <%= link_to date.day, new_user_bodyweight_path(current_user, start_time: date) %>
    <% end %>
      <% events.each do |event| %>
        <div>
          <%= event.body_weight %>kg
        </div>
      <% end %>
  <% end %>
</div>

<!--グラフ-->

<div class="bodyweight-chart">
  <%= line_chart current_user.bodyweights.pluck(:start_time, :body_weight),
      width: "800px", height: "500px"
  %>
</div>
  
  







