<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/0.5.7/chartjs-plugin-annotation.min.js"></script>

<div class="box1">
  <div class="row">
    <div class="col-md-3 offset-md-5 align-self-center">
      <%= link_to(user_path(current_user, start_time: params[:start_time].to_date.yesterday, start_date: params[:start_date].to_date.prev_month)) do %>
        <div class="arrow round-arrow-left"></div>
      <% end %>
      <a style="color: #274277;"><%= params[:start_time] %></a>
      <% unless params[:start_time].to_date.tomorrow == Time.current.to_date.tomorrow %>
        <%= link_to(user_path(current_user, start_time: params[:start_time].to_date.tomorrow, start_date: params[:start_date].to_date.next_month)) do %>
          <div class="arrow round-arrow-right"></div>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-3 align-self-center">
      <%= link_to(user_bodyweights_calender_path(current_user, start_time: params[:start_time], start_date: params[:start_date]), remote: true) do %>
        <div class="calendar"></div>
      <% end %>
    </div>
    
  </div>
</div>


<div class="box1">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="tab-area">
        <div class="tab active">
          体重
        </div>
        <div class="tab">
          体脂肪率
        </div>
      </div>  
    </div>
  </div>
  <div class="content-area">
    <div class="content show">
      <%= render 'bodyweight' %>
    </div>
    <div class="content">
      <%= render 'bodyfat_percentage' %>
    </div>
  </div>
</div>

<div class="box1">
  <h4>トレーニング部位別回復状態</h4>
  <% @bodypart_recoverys.each do |recovery_parcentage, bodypart, current| %>
    <h5><%= bodypart.body_part %></h5>
    <% unless current == bodypart.recovery_day %>
      <p style="color:green;"><%= current %>日経過</p>
    <% else %>
      <p style="color:blue;">回復状態です</p>
    <% end %>
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: <%= recovery_parcentage %>%;" aria-valuenow="<%= bodypart.recovery_day %>" aria-valuemin="0" aria-valuemax="<%= bodypart.recovery_day %>">
        <% unless current == bodypart.recovery_day %>
          <%= current %>日経過
        <% else %>
          回復状態です
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<div id="calender" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
