<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/0.5.7/chartjs-plugin-annotation.min.js"></script>

<div class="jumbotron">
  <div class="box1">
    <ul class="nav nav-fill justify-content-center" id="myTab" role="tablist">
      <li class="nav-item">
        <% if params[:switching] == "bodyweight" || params[:switching].blank? %>
          <a class="nav-item nav-link active" href="<%= user_path(@user, switching: "bodyweight", start_time: params[:start_time], start_date: params[:start_date]) %>">体重</a>
        <% else %>
          <a class="nav-item nav-link" href="<%= user_path(@user, switching: "bodyweight", start_time: params[:start_time], start_date: params[:start_date]) %>">体重</a>
        <% end %>
      </li>
    </ul>
  </div>
</div>

<% if params[:switching] == "bodyweight" || params[:switching].blank? %>
  <div class="box1">
    <div class="center">
      <%= link_to(user_path(current_user, start_time: params[:start_time].to_date.yesterday, start_date: params[:start_date].to_date.prev_month)) do %>
        <div class="arrow round-arrow-left"></div>
      <% end %>
      <a style="color: #274277;"><%= params[:start_time] %></a>
      <% unless params[:start_time].to_date.tomorrow == Time.current.to_date.tomorrow %>
        <%= link_to(user_path(current_user, start_time: params[:start_time].to_date.tomorrow, start_date: params[:start_date].to_date.next_month)) do %>
          <div class="arrow round-arrow-right"></div>
        <% end %>
      <% end %>
      <a class="right">
        <%= link_to(user_bodyweights_calender_path(current_user, start_time: params[:start_time], start_date: params[:start_date]), class: "text-original") do %>
          <i class="fas fa-calendar-alt fa-lg"></i>
        <% end %>
      </a>
    </div>
  </div>
  <div class="box1" style="padding: 5px;">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-weight-tab" data-toggle="tab" href="#nav-weight" role="tab" aria-controls="nav-weight" aria-selected="true">体重</a>
        <a class="nav-item nav-link" id="nav-percentage-tab" data-toggle="tab" href="#nav-percentage" role="tab" aria-controls="nav-percentage" aria-selected="false">体脂肪率</a>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-weight" role="tabpanel" aria-labelledby="nav-weight-tab">
        <%= render 'bodyweight' %>
      </div>
      <div class="tab-pane fade" id="nav-percentage" role="tabpanel" aria-labelledby="nav-percentage-tab">
        <%= render 'bodyfat_percentage' %>
      </div>
    </div>
  </div>
<% end %>
