<div class="box1">
  <ul class="nav nav-pills nav-fill justify-content-center" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link" href="<%= user_todaymeals_path(@user, start_time: params[:start_time], start_date: params[:start_date]) %>">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="<%= user_recipes_path(@user, timezone_id: params[:timezone_id], start_time: params[:start_time], start_date: params[:start_date]) %>">Record</a>
    </li>
    <li class="nav-item">
      <%= link_to(user_meals_analysis_index_path(@user, graph: "line", start_time: params[:start_time], start_date: params[:start_date]), class: "nav-link",data: {"turbolinks"=>false}) do %>
        <div>Analysis</div>
      <% end %>
    </li>
  </ul>
</div>

<div class="box1">
  <ul class="nav nav-fill justify-content-center" id="myTab" role="tablist">
    <% @timezones.each do |timezone| %>
      <li class="nav-item">
        <% if timezone.id == params[:timezone_id].to_i %>
          <a class="nav-link active" href="<%= user_recipes_path(@user, timezone_id: timezone, start_time: params[:start_time], start_date: params[:start_date]) %>"><%= timezone.time_zone %></a>
        <% else %>
          <a class="nav-link" href="<%= user_recipes_path(@user, timezone_id: timezone, start_time: params[:start_time], start_date: params[:start_date]) %>"><%= timezone.time_zone %></a>
        <% end %>
    <% end %>
  </ul>
</div>

<div class="box1">
  <ul class="nav nav-fill justify-content-center" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" href="<%= user_recipes_path(@user, timezone_id: params[:timezone_id], start_time: params[:start_time], start_date: params[:start_date]) %>">Recipe</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="<%= user_myfoods_path(@user, timezone_id: params[:timezone_id], start_time: params[:start_time], start_date: params[:start_date]) %>">Myfood</a>
    </li>
  </ul>
</div>

<div class="row">
  <div class="mx-auto">
    <%= link_to(new_user_recipe_path(@user, timezone_id: params[:timezone_id], start_time: params[:start_time], start_date: params[:start_date]), class: "btn btn-sm btn-original") do %>
      <i class="far fa-plus-square fa-lg">レシピ追加</i>
    <% end %>
  </div>
</div>

<br>
<div class="row">
  <div class="mx-auto">
    <%= paginate @recipes %>
  </div>
</div>

<div class="box1">
  <div class="row">
    <div class="col-12">
      <table class="table table-striped sample">
        <thead>
          <tr>
            <th><%= Recipe.human_attribute_name(:recipe_name) %></th>
            <th><%= Myfood.human_attribute_name(:calorie) %></th>
          </tr>
        </thead>
        <tbody>
          <% @recipes.each do |recipe| %>
          <tr data-href= <%= new_user_todaymeal_recipe_path(@user, switching: "record", recipe_id: recipe, timezone_id: params[:timezone_id], start_date: params[:start_date], start_time: params[:start_time]) %>>
            <td><%= recipe.recipe_name %></td>
            <td><%= recipe.calorie %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="row">
  <div class="mx-auto">
    <%= paginate @recipes %>
  </div>
</div>
