<% provide(:title, "食品編集") %>
<% provide(:btn_text, "更新") %>

<ul class="nav nav-fill justify-content-center" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link" href="<%= new_user_todaymeal_path(@user, myfood_id: params[:id], timezone_id: params[:timezone_id], switching: "record", start_time: params[:start_time], start_date: params[:start_date]) %>"><i class="fas fa-undo-alt">戻る</i></a>
  </li>
</ul>

<div class="form-box1">
  <div class="box-inner">
  <h5>食品編集</h5><br>
  
  <%= form_with(model: @myfood, url: user_myfood_path(@user, @myfood, todaymeal_recipe_id: params[:todaymeal_recipe_id], before: params[:before], recipe_id: params[:recipe_id], timezone_id: params[:timezone_id], start_date: params[:start_date], start_time: params[:start_time]), method: :patch, local: true) do |f| %>
    
    <%= render partial: "form", locals: { f: f }%>
    
      <%= f.submit yield(:btn_text), class: "btn btn-md btn-original btn-block" %>
      <%= link_to "削除", user_myfood_path(@user, @myfood, recipe_id: params[:recipe_id], timezone_id: params[:timezone_id], start_date: params[:start_date], start_time: params[:start_time]), method: :delete,
          data: { confirm: "「#{@myfood.food_name}」を削除します。なお、同時に日々の記録していたデータも消えてしまいます。本当によろしいですか？" }, class: "btn btn-md btn-danger btn-block" %>
    
  <% end %>
  </div>
</div>

<script>

var button = document.getElementById("button");

button.addEventListener("click", function(e) {
 
    e.preventDefault();
 
    var protein = document.getElementById("protein").value;
    var fat = document.getElementById("fat").value;
    var carbo = document.getElementById("carbo").value;

    var calc = (protein * 4) + (fat * 9) + (carbo * 4);
 
    var calorie = document.getElementById("calorie");
    calorie.value = calc;
});
 
</script>