
<div class="row">
  <div class="col-md-4 align-self-center">
    <%= link_to(user_recipes_path(current_user, timezone_id: params[:timezone_id], start_time: params[:start_time], start_date: params[:start_date])) do %>
      <div class="box1">Recipe</div>
    <% end %>
  </div>
  <div class="col-md-4 align-self-center">
    <%= link_to(user_myfoods_path(current_user, timezone_id: params[:timezone_id], start_time: params[:start_time], start_date: params[:start_date])) do %>
      <% if controller.controller_name == "myfoods" %>
        <div class="box1_action">MyFood</div>
      <% else %>
        <div class="box1"></div>
      <% end %>
    <% end %>
  </div>
  <div class="col-md-4 align-self-center">
    <%= link_to("#") do %>
      <div class="box1">
        
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-1 offset-md-11 align-self-center">
    <%= link_to(new_user_myfood_path(current_user, timezone_id: params[:timezone_id], start_time: params[:start_time], start_date: params[:start_date]), class: "text-original") do %>
      <i class="far fa-plus-square fa-2x"></i>
    <% end %>
  </div>
</div>

<div class="box1">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
        <tbody>
          <% @myfoods.each do |myfood| %>
            <tr>
              <th><%= myfood.food_name %></th>
              <td><%= myfood.protein %></td>
              <td><%= myfood.fat %></td>
              <td><%= myfood.carbo %></td>
              <td>
                <%= link_to(user_myfood_path(@user, myfood, timezone_id: params[:timezone_id], start_time: params[:start_time], start_date: params[:start_date]), class: "traning-title text-original") do %>
                  <i class="fas fa-edit"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>