 
<%= f.label :amount, class: "label-form" %><br>
<%= f.number_field :amount, class: "form-control" %><br>

<%= f.label :note, class: "label-form" %><br>
<%= f.text_area :note, class: "form-control" %><br>

<%= f.hidden_field :start_time, value: params[:start_time] %>
<%= f.hidden_field :timezone_id, value: params[:timezone_id] %>
<%= f.hidden_field :myfood_id, value: params[:myfood_id] %>
</div>
<div class="mx-auto">
  <%= f.submit yield(:btn_text), class: "btn btn-lg btn-original btn-form" %>
  <% if controller.action_name == "edit" %>
    <%= link_to "削除", user_todaymeal_path(@user, @todaymeal, start_time: params[:start_time], start_date: params[:start_date]), method: :delete, class: "btn btn-lg btn-danger" %>
  <% end %>
  <% if controller.action_name == "edit" %>
    <%= link_to "戻る", user_todaymeals_path(@user, start_date: params[:start_date], start_time: params[:start_time]), class: "btn btn-lg btn-default btn-form" %>
  <% elsif controller.action_name == "new" %>
    <%= link_to "戻る", user_myfoods_path(@user, timezone_id: params[:timezone_id], start_date: params[:start_date], start_time: params[:start_time]), class: "btn btn-lg btn-default btn-form" %>
  <% end %>
</div>