<div class="box1">
  <div class="row">
    <div class="col-md-3 offset-md-5 align-self-center">
      <%= link_to(user_todaymeals_path(current_user, start_time: params[:start_time].to_date.yesterday, start_date: params[:start_date].to_date.prev_month)) do %>
        <div class="arrow round-arrow-left"></div>
      <% end %>
      <a style="color: #274277;"><%= params[:start_time] %></a>
      <% unless params[:start_time].to_date.tomorrow == Time.current.to_date.tomorrow %>
        <%= link_to(user_todaymeals_path(current_user, start_time: params[:start_time].to_date.tomorrow, start_date: params[:start_date].to_date.next_month)) do %>
          <div class="arrow round-arrow-right"></div>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-3 align-self-center">
      <%= link_to(user_bodyweights_calender_path(current_user, start_time: params[:start_time], start_date: params[:start_date]), remote: true) do %>
        <div class="calendar"></div>
      <% end %>
    </div>
  </div>
</div>

<div class="box1">
  <div class="row">
    <div>
      
    </div>
  </div>
</div>

<% @timezones.each do |timezone| %>
  <div class="box1">
    <div class="row">
      <div class="col-md-2 align-self-center">
        <%= timezone.time_zone %>
      </div>
      <div class="col-md-2 offset-md-8 align-self-center">
        <%= link_to(user_recipes_path(current_user, timezone_id: timezone, start_time: params[:start_time], start_date: params[:start_date]), class: "text-original") do %>
          <i class="far fa-plus-square fa-2x"></i>
        <% end %>
      </div>
      <div class="col-md-12">
        <a>食品</a>
        <table class="table table-striped">
          <thead>
            <tr>
              <th><%= Myfood.human_attribute_name(:food_name) %></th>
              <th><%= Myfood.human_attribute_name(:calorie) %></th>
              <th><%= Myfood.human_attribute_name(:protein) %></th>
              <th><%= Myfood.human_attribute_name(:fat) %></th>
              <th><%= Myfood.human_attribute_name(:carbo) %></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-12">
        <a>レシピ</a>
        <table class="table table-striped">
          <thead>
            <tr>
              <th><%= Recipe.human_attribute_name(:recipe_name) %></th>
              <th><%= Myfood.human_attribute_name(:calorie) %></th>
              <th><%= Myfood.human_attribute_name(:protein) %></th>
              <th><%= Myfood.human_attribute_name(:fat) %></th>
              <th><%= Myfood.human_attribute_name(:carbo) %></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>