<ul class="nav nav-fill justify-content-center" id="myTab" role="tablist">
  <li class="nav-item">
    <%= link_to(user_path(@user, start_date: params[:start_date], start_time: params[:start_time]), class: "nav-link", data: {"turbolinks"=>false}) do %>
      <i class="fas fa-undo-alt">戻る</i>
    <% end %>
  </li>
</ul>
</br>

<div class="form-box1">
  <div class="box-inner">
    <h5>体脂肪率記録</h5><br>
    <%= form_with(model: @body_weight, url: user_bodyweight_path(@user, @body_weight, start_date: params[:start_date], start_time: params[:start_time]), method: :patch, local: true) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      
      <%= f.label :bodyfat_percentage, class: "label-form" %>
      <%= f.number_field :bodyfat_percentage, step: '0.1', class: "form-control" %><br>
      
      <%= f.submit "更新", class: "btn btn-md btn-original btn-block" %>
    <% end %>
  </div>
</div>