<ul class="nav nav-fill justify-content-center" id="myTab" role="tablist">
  <li class="nav-item">
    <%= link_to(user_path(@user, start_date: params[:start_date], start_time: params[:start_time]), class: "nav-link", data: {"turbolinks"=>false}) do %>
      <i class="fas fa-undo-alt">戻る</i>
    <% end %>
  </li>
</ul>

<div class="box1">
  <%= month_calendar events: @body_weights do |date, events| %>
    <% unless date.to_date > Time.current %>
      <%= link_to date.day, user_path(current_user, bodyweight_id: @bodyweight, start_time: date, start_date: @first_day) %>
    <% else %>
      <%= date.day %>
    <% end %>
    <% events.each do |event| %>
      <div>
        <% if event.body_weight.present? %>
          <%= event.body_weight %>kg
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>