<div class="bodyweights_flame">
  <h1>Bodyweights#new</h1>
  <p>Find me in app/views/bodyweights/new.html.erb</p>
  
  <%= form_with(model: @body_weight, url: user_bodyweights_path(start_time: params[:start_time]), method: :post, local: true) do |f| %>
  
    <%= f.hidden_field :start_time, value: params[:start_time] %>
    <div class="bodyweights_form">
      <%= f.label :body_weight, class: "label-form" %>
      <%= f.number_field :body_weight, placeholder: "体重", class: "form-control" %>
    </div>
    <div class="bodyweights_form">
      <%= f.label :bodyfat_percentage, class: "label-form" %>
      <%= f.number_field :bodyfat_percentage, placeholder: "体脂肪率", class: "form-control" %>
    </div>
    <div class="bodyweights_box">
      <%= f.submit "新規登録", class: "btn btn-lg btn-primary btn-form" %>
    </div>
  <% end %>
  
</div>