
<div class="login-box1">
  <div class="box-inner">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      
      <h2>アカウント登録</h2>
      <div class="box-username">
        <%= f.label :username %>
        <%= f.text_field :username, autofocus: true, autocomplete: "username", class: "form-control" %>
      </div>
        
      <div class="box-email">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>
      
      <div class="box-password">
        <div class="a-row">
          <div class="column-left">
            <%= f.label :password %>
            <% if @minimum_password_length %>
              <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
            <% end %>
          </div>
        </div>
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
      </div>
      
      <div class="box-password-confirmation">
        <div class="a-row">
          <div class="column-left">
            <%= f.label :password_confirmation %>
          </div>
        </div>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div>
      
      <div class="box-login">
        <%= f.submit (), class: "button" %>
      </div>
    <% end %>
    <div>アカウントをすでにお持ちの方はこちら→<%= render "devise/shared/links" %></div>
  </div>
</div>
</div>
  


