<nav class="navbar navbar-expand-md navbar-dark bg-original fixed-top">
  <div class="logo">
    <% if user_signed_in? %>
      <%= link_to "BODY MAKE APP", user_path(current_user, switching: "bodyweight", start_date: Date.current.beginning_of_month, start_time: Date.current), id: "logo" %>
    <% else %>
      <%= link_to "BODY MAKE APP", root_path, id: "logo" %>
    <% end %>
  </div>
  <br>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
          aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav">
      <% if user_signed_in? %>
      <li class="nav-item nav-user">
        <%= link_to(edit_user_registration_path, class: "nav-original-link") do %>
          Login User
          <i class="fas fa-sign-in-alt"></i>
          <div class="user_box">
            <i class="fas fa-user-circle"></i>
            <span><%= @user.username %></span>
          </div>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to(user_path(@user, switching: "bodyweight", start_date: Date.current.beginning_of_month, start_time: Date.current), class: "nav-original-link") do %>
          <div>
            <i class="fas fa-home"></i>
            <span>HOME</span>
          </div>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to(user_todaymeals_path(@user, start_date: Date.current.beginning_of_month, start_time: Date.current), class: "nav-original-link") do %>
          <div>
            <i class="fas fa-utensils"></i>
            <span>Meal</span>
          </div>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to(user_today_exercises_path(current_user, start_time: Date.current, start_date: Date.current.beginning_of_month), class: "nav-original-link") do %>
          <i class="fas fa-running"></i>
          <span>Exercise</span>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to(user_today_tranings_path(@user, bodypart_id: 1, start_date: Date.current.beginning_of_month, start_time: Date.current), class: "nav-original-link") do %>
          <i class="fas fa-dumbbell"></i>
          <span>Traning</span>
        <% end %>
      </li>
      <li>
        <%= link_to(user_setting_path(@user, switching: "index", start_date: Date.current.beginning_of_month, start_time: Date.current), class: "nav-original-link") do %>
          <i class="fas fa-cog"></i>
          <span>Setting</span>
        <% end %>
      </li><br><br>
      <li>
        <div class="sidebar-footer">
          <%= link_to(destroy_user_session_path, method: :delete) do %>
            Logout
            <i class="fas fa-sign-out-alt"></i>
          <% end %>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
</nav>
