
<div class="wrapper" style="position: sticky">

  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
    </ul>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar elevation-4">
    <!-- Brand Logo -->
    <a href="<%= user_path(@user, start_time: Date.current, start_date: Date.current.beginning_of_month) %>" class="brand-link">
      <span class="brand-text font-weight-light" id="logo">BODY MAKE APP</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex" style="border-bottom: solid 1px #fff;">
        <div class="image">
          <i class="fas fa-user-circle fa-2x" style="color: #fff;"></i>
        </div>
        <div class="info">
          <a href="<%= edit_user_registration_path %>" class="d-block" style="color: #fff;"><%= @user.username %></a>
        </div>
      </div>

        

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
              <a href="<%= user_path(@user, switching: "bodyweight", start_date: Date.current.beginning_of_month, start_time: Date.current) %>" class="nav-link">
                  <i class="nav-icon fas fa-home" style="color: #fff;"></i>
                  <p style="color: #fff;">
                      HOME
                  </p>
              </a>
          </li>
          <li class="nav-item">
              <a href="<%= user_todaymeals_path(@user, start_date: Date.current.beginning_of_month, start_time: Date.current) %>" class="nav-link">
                  <i class="nav-icon fas fa-utensils" style="color: #fff;"></i>
                  <p style="color: #fff;">
                      Meal
                  </p>
              </a>
          </li>
          <li class="nav-item">
              <a href="<%= user_today_exercises_path(current_user, start_time: Date.current, start_date: Date.current.beginning_of_month) %>" class="nav-link">
                  <i class="nav-icon fas fa-running" style="color: #fff;"></i>
                  <p style="color: #fff;">
                      Exercise
                  </p>
              </a>
          </li>
          <li class="nav-item">
              <a href="<%= user_today_tranings_path(@user, bodypart_id: 1, start_date: Date.current.beginning_of_month, start_time: Date.current) %>" class="nav-link">
                  <i class="nav-icon fas fa-dumbbell" style="color: #fff;"></i>
                  <p style="color: #fff;">
                      Traning
                  </p>
              </a>
          </li>
          <li class="nav-item">
              <a href="<%= user_setting_path(@user, switching: "index", start_date: Date.current.beginning_of_month, start_time: Date.current) %>" class="nav-link">
                  <i class="nav-icon fas fa-cog" style="color: #fff;"></i>
                  <p style="color: #fff;">
                      Setting
                  </p>
              </a>
          </li><br>
          <div style="border-bottom: solid 1px #fff; border-top: solid 1px #fff;">
          <li class="nav-item">
            <%= link_to(destroy_user_session_path, method: :delete, class: "nav-link") do %>
              <i class="nav-icon fas fa-sign-out-alt" style="color: #fff;"></i>
              <p style="color: #fff;">
                Logout
              </p>
            <% end %>
          </li>
          </div>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
    
  </aside>

  <div class="content-wrapper">
    <div class="container-field">
      <%= render 'layouts/flashes' %>
      <%= yield %>
    </div>
  </div>
</div>
<!-- ./wrapper -->