
<a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
  <i class="fas fa-bars"></i>
</a>
<nav id="sidebar" class="sidebar-wrapper">
  <div class="sidebar-content">
    <div class="sidebar-brand">
      <a href="#"></a>
      <div id="close-sidebar">
        <i class="fas fa-times"></i>
      </div>
    </div>
    
    
    <!-- sidebar-menu  -->
    <div class="sidebar-menu">
      <ul>
        <li>
          <%= link_to(user_path(current_user, start_date: Date.current.beginning_of_month, start_time: Date.current)) do %>
            <div>
              <i class="fas fa-home"></i>
              <span>HOME</span>
            </div>
          <% end %>
        </li>
        <li>
          <%= link_to(user_todaymeals_path(current_user, start_date: Date.current.beginning_of_month, start_time: Date.current)) do %>
            <div>
              <i class="fas fa-utensils"></i>
              <span>Meal</span>
            </div>
          <% end %>
          <div>
          <ul>
            <li>
              <%= link_to(user_meals_analysis_index_path(current_user, start_date: Date.current.beginning_of_month, start_time: Date.current), data: {"turbolinks" => false}) do %>
                <div>Analysis</div>
              <% end %>
            </li>
          </ul>
        </div>
        </li>
        <li>
          <%= link_to user_today_exercises_path(current_user, start_time: params[:start_time], start_date: params[:start_date]) do %>
            <i class="fas fa-running"></i>
            <span>Exercise</span>
          <% end %>
        </li>
        <li>
          <a>
            <i class="fas fa-dumbbell"></i>
            <span>Traning</span>
          </a>
        </li>
        <div>
          <ul>
            <li>
              <%= link_to(user_today_tranings_path(current_user, start_date: Date.current.beginning_of_month, start_time: Date.current)) do %>
                <div>Today Traning</div>
              <% end %>
            </li>
            <li>
              <%= link_to(user_today_tranings_traning_analysis_path(current_user, bodypart_id: 1, start_date: Date.current.beginning_of_month, start_time: Date.current)) do %>
                <div>Traning Analysis</div>
              <% end %>
            </li>
          </ul>
        </div>
        <li>
          <%= link_to(user_setting_path(current_user, start_date: Date.current.beginning_of_month, start_time: Date.current)) do %>
            <i class="fas fa-cog"></i>
            <span>Setting</span>
          <% end %>
        </li>
      </ul>
    </div>
    <!-- sidebar-menu  -->
  </div>
  
</nav>
<!-- sidebar-wrapper  -->
  