<div class="jumbotron">
  <% unless controller_name == "traningevents" && action_name == "edit" || controller_name == "traningevents" && action_name == "update" %>
    <div class="box1">
      
      <!--------------- 大項目選択タブ --------------->
      
      <ul class="nav nav-fill justify-content-center" id="myTab" role="tablist">
        
        <!--------------- HOMEタブ --------------->
        
        <li class="nav-item">
          <a class="nav-link" href="<%= user_today_tranings_path(@user, start_time: params[:start_time], start_date: params[:start_date]) %>">
            HOME
          </a>
        </li>
        
        <!--------------- Recordタブ --------------->
        
        <li class="nav-item">
          <% if controller_name == "today_tranings" && action_name == "traning_new" || controller_name == "traningevents" && action_name == "new" || controller_name == "traningevents" && action_name == "create" %>
            <a class="nav-link active" href="<%= user_today_tranings_traning_new_path(@user, traningevent_id: 1, start_time: params[:start_time], start_date: params[:start_date]) %>">
              Record
            </a>
          <% else %>
            <a class="nav-link" href="<%= user_today_tranings_traning_new_path(@user, traningevent_id: 1, start_time: params[:start_time], start_date: params[:start_date]) %>">
              Record
            </a>
          <% end %>
        </li>
        
        <!--------------- Analysisタブ --------------->
        
        <li class="nav-item">
          <% if controller_name == "today_tranings" && action_name == "traning_analysis" %>
            <%= link_to(user_today_tranings_traning_analysis_path(@user, traningevent_id: 1, start_time: params[:start_time], start_date: params[:start_date]), class: "nav-link active", data: {"turbolinks"=>false}) do %>
              <div>Analysis</div>
            <% end %>
          <% else %>
            <%= link_to(user_today_tranings_traning_analysis_path(@user, traningevent_id: 1, start_time: params[:start_time], start_date: params[:start_date]), class: "nav-link", data: {"turbolinks"=>false}) do %>
              <div>Analysis</div>
            <% end %>
          <% end %>
        </li>
      </ul>
    </div>
  <% end %>


  <div class="box1">
    <div class="tab-area">
      
      <!--------------- Bodypartタブ --------------->
      
      <ul class="nav nav-fill justify-content-center tab-menu" id="myTab" role="tablist">
        <li class="nav-item">
          <% if controller_name == "today_tranings" && action_name == "traning_new" || controller_name == "today_tranings" && action_name == "update" %>
            <% unless params[:bodypart_id].present? %>
              <a class="nav-link active" href="<%= user_today_tranings_traning_new_path(@user, subbodypart_id: params[:subbodypart_id], traningtype_id: params[:traningtype_id], start_time: params[:start_time], start_date: params[:start_date]) %>">ALL</a>
            <% else %>
              <a class="nav-link" href="<%= user_today_tranings_traning_new_path(@user, subbodypart_id: params[:subbodypart_id], traningtype_id: params[:traningtype_id], start_time: params[:start_time], start_date: params[:start_date]) %>">ALL</a>
            <% end %>
          <% elsif controller_name == "traningevents" && action_name == "new" || controller_name == "traningevents" && action_name == "create" %>
            <% unless params[:bodypart_id].present? %>
              <a class="nav-link active" href="<%= new_user_traningevent_path(@user, subbodypart_id: params[:subbodypart_id], traningtype_id: params[:traningtype_id], start_time: params[:start_time], start_date: params[:start_date]) %>">ALL</a>
            <% else %>
              <a class="nav-link" href="<%= new_user_traningevent_path(@user, subbodypart_id: params[:subbodypart_id], traningtype_id: params[:traningtype_id], start_time: params[:start_time], start_date: params[:start_date]) %>">ALL</a>
            <% end %>
          <% elsif controller_name == "today_tranings" && action_name == "traning_analysis" %>
            <% unless params[:bodypart_id].present? %>
              <a class="nav-link active" href="<%= user_today_tranings_traning_analysis_path(@user, subbodypart_id: params[:subbodypart_id], traningtype_id: params[:traningtype_id], start_time: params[:start_time], start_date: params[:start_date]) %>">ALL</a>
            <% else %>
              <a class="nav-link" href="<%= user_today_tranings_traning_analysis_path(@user, subbodypart_id: params[:subbodypart_id], traningtype_id: params[:traningtype_id], start_time: params[:start_time], start_date: params[:start_date]) %>">ALL</a>
            <% end %>
          <% elsif controller_name == "traningevents" && action_name == "edit" || controller_name == "traningevents" && action_name == "update" %>
            <% unless params[:bodypart_id].present? %>
              <a class="nav-link active" href="<%= edit_user_traningevent_path(@user, subbodypart_id: params[:subbodypart_id], traningtype_id: params[:traningtype_id], start_time: params[:start_time], start_date: params[:start_date]) %>">ALL</a>
            <% else %>
              <a class="nav-link" href="<%= edit_user_traningevent_path(@user, subbodypart_id: params[:subbodypart_id], traningtype_id: params[:traningtype_id], start_time: params[:start_time], start_date: params[:start_date]) %>">ALL</a>
            <% end %>
          <% end %>
        </li>
        <% @bodyparts.each do |bodypart| %>
          <li class="nav-item">
            <% if controller_name == "today_tranings" && action_name == "traning_new" %>
              <% if bodypart.id == params[:bodypart_id].to_i %>
                <a class="nav-link active" href="<%= user_today_tranings_traning_new_path(@user, bodypart_id: params[:bodypart_id], traningtype_id: params[:traningtype_id], start_time: params[:start_time], start_date: params[:start_date]) %>"><%= bodypart.body_part %></a>
              <% else %>
                <a class="nav-link" href="<%= user_today_tranings_traning_new_path(@user, bodypart_id: bodypart.id, traningtype_id: params[:traningtype_id], start_time: params[:start_time], start_date: params[:start_date]) %>#bodypart-1"><%= bodypart.body_part %></a>
              <% end %>
            <% elsif controller_name == "traningevents" && action_name == "new" || controller_name == "traningevents" && action_name == "create" %>
              <% if bodypart.id == params[:bodypart_id].to_i %>
                <a class="nav-link active" href="<%= new_user_traningevent_path(@user, bodypart_id: params[:bodypart_id], traningtype_id: params[:traningtype_id], start_time: params[:start_time], start_date: params[:start_date]) %>"><%= bodypart.body_part %></a>
              <% else %>
                <a class="nav-link" href="<%= new_user_traningevent_path(@user, bodypart_id: bodypart.id, traningtype_id: params[:traningtype_id], start_time: params[:start_time], start_date: params[:start_date]) %>"><%= bodypart.body_part %></a>
              <% end %>
            <% elsif controller_name == "today_tranings" && action_name == "traning_analysis" %>
              <% if bodypart.id == params[:bodypart_id].to_i %>
                <a class="nav-link active" href="<%= user_today_tranings_traning_analysis_path(@user, bodypart_id: params[:bodypart_id], traningtype_id: params[:traningtype_id], start_time: params[:start_time], start_date: params[:start_date]) %>"><%= bodypart.body_part %></a>
              <% else %>
                <a class="nav-link" href="<%= user_today_tranings_traning_analysis_path(@user, bodypart_id: bodypart.id, traningtype_id: params[:traningtype_id], start_time: params[:start_time], start_date: params[:start_date]) %>"><%= bodypart.body_part %></a>
              <% end %>
            <% elsif controller_name == "traningevents" && action_name == "edit" || controller_name == "traningevents" && action_name == "update" %>
              <% if bodypart.id == params[:bodypart_id].to_i %>
                <a class="nav-link active" href="<%= user_today_tranings_traning_analysis_path(@user, bodypart_id: params[:bodypart_id], traningtype_id: params[:traningtype_id], start_time: params[:start_time], start_date: params[:start_date]) %>"><%= bodypart.body_part %></a>
              <% else %>
                <a class="nav-link" href="<%= edit_user_traningevent_path(@user, bodypart_id: bodypart.id, traningtype_id: params[:traningtype_id], start_time: params[:start_time], start_date: params[:start_date]) %>"><%= bodypart.body_part %></a>
              <% end %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  
  <!--------------- SubBodypartタブ --------------->
  
  <% if params[:bodypart_id].present? %>
    <div class="box1">
      <div class="tab-area">
        <ul class="nav nav-fill justify-content-center tab-menu" id="myTab" role="tablist">
          <li class="nav-item">
            <% if controller_name == "today_tranings" && action_name == "traning_new" %>
              <% unless params[:subbodypart_id].present? %>
                <a class="nav-link active" href="<%= user_today_tranings_traning_new_path(@user, bodypart_id: params[:bodypart_id], traningtype_id: params[:traningtype_id], start_time: params[:start_time], start_date: params[:start_date]) %>">ALL</a>
              <% else %>
                <a class="nav-link" href="<%= user_today_tranings_traning_new_path(@user, bodypart_id: params[:bodypart_id], traningtype_id: params[:traningtype_id], start_time: params[:start_time], start_date: params[:start_date]) %>">ALL</a>
              <% end %>
            <% elsif controller_name == "traningevents" && action_name == "new" || controller_name == "traningevents" && action_name == "create" %>
              <% unless params[:subbodypart_id].present? %>
                <a class="nav-link active" href="<%= new_user_traningevent_path(@user, bodypart_id: params[:bodypart_id], traningtype_id: params[:traningtype_id], start_time: params[:start_time], start_date: params[:start_date]) %>">ALL</a>
              <% else %>
                <a class="nav-link" href="<%= new_user_traningevent_path(@user, bodypart_id: params[:bodypart_id], traningtype_id: params[:traningtype_id], start_time: params[:start_time], start_date: params[:start_date]) %>">ALL</a>
              <% end %>
            <% elsif controller_name == "today_tranings" && action_name == "traning_analysis" %>
              <% unless params[:subbodypart_id].present? %>
                <a class="nav-link active" href="<%= user_today_tranings_traning_analysis_path(@user, bodypart_id: params[:bodypart_id], traningtype_id: params[:traningtype_id], start_time: params[:start_time], start_date: params[:start_date]) %>">ALL</a>
              <% else %>
                <a class="nav-link" href="<%= user_today_tranings_traning_analysis_path(@user, bodypart_id: params[:bodypart_id], traningtype_id: params[:traningtype_id], start_time: params[:start_time], start_date: params[:start_date]) %>">ALL</a>
              <% end %>
            <% elsif controller_name == "traningevents" && action_name == "edit" || controller_name == "traningevents" && action_name == "update" %>
              <% unless params[:subbodypart_id].present? %>
                <a class="nav-link active" href="<%= edit_user_traningevent_path(@user, bodypart_id: params[:bodypart_id], traningtype_id: params[:traningtype_id], start_time: params[:start_time], start_date: params[:start_date]) %>">ALL</a>
              <% else %>
                <a class="nav-link" href="<%= edit_user_traningevent_path(@user, bodypart_id: params[:bodypart_id], traningtype_id: params[:traningtype_id], start_time: params[:start_time], start_date: params[:start_date]) %>">ALL</a>
              <% end %>
            <% end %>
          </li>
          <% @subbodyparts.each do |subbodypart| %>
            <li class="nav-item">
              <% if controller_name == "today_tranings" && action_name == "traning_new" %>
                <% if subbodypart.id == @subbodypart_active && @subbodypart_active == params[:subbodypart_id].to_i %>
                  <a class="nav-link active" href="<%= user_today_tranings_traning_new_path(@user, bodypart_id: params[:bodypart_id], subbodypart_id: @subbodypart_active, traningtype_id: params[:traningtype_id], start_time: params[:start_time], start_date: params[:start_date]) %>"><%= subbodypart.sub_body_part %></a>
                <% elsif subbodypart.id == params[:subbodypart_id].to_i %>
                  <a class="nav-link active" href="<%= user_today_tranings_traning_new_path(@user, bodypart_id: params[:bodypart_id], subbodypart_id: params[:subbodypart_id].to_i, traningtype_id: params[:traningtype_id], start_time: params[:start_time], start_date: params[:start_date]) %>"><%= subbodypart.sub_body_part %></a>
                <% else %>
                  <a class="nav-link" href="<%= user_today_tranings_traning_new_path(@user, bodypart_id: params[:bodypart_id], subbodypart_id: subbodypart, traningtype_id: params[:traningtype_id], start_time: params[:start_time], start_date: params[:start_date]) %>"><%= subbodypart.sub_body_part %></a>
                <% end %>
              <% elsif controller_name == "traningevents" && action_name == "new" || controller_name == "traningevents" && action_name == "create" %>
                <% if subbodypart.id == @subbodypart_active && @subbodypart_active == params[:subbodypart_id].to_i %>
                  <a class="nav-link active" href="<%= new_user_traningevent_path(@user, bodypart_id: params[:bodypart_id], subbodypart_id: @subbodypart_active, traningtype_id: params[:traningtype_id], start_time: params[:start_time], start_date: params[:start_date]) %>"><%= subbodypart.sub_body_part %></a>
                <% elsif subbodypart.id == params[:subbodypart_id].to_i %>
                  <a class="nav-link active" href="<%= new_user_traningevent_path(@user, bodypart_id: params[:bodypart_id], subbodypart_id: params[:subbodypart_id].to_i, traningtype_id: params[:traningtype_id], start_time: params[:start_time], start_date: params[:start_date]) %>"><%= subbodypart.sub_body_part %></a>
                <% else %>
                  <a class="nav-link" href="<%= new_user_traningevent_path(@user, bodypart_id: params[:bodypart_id], subbodypart_id: subbodypart, traningtype_id: params[:traningtype_id], start_time: params[:start_time], start_date: params[:start_date]) %>"><%= subbodypart.sub_body_part %></a>
                <% end %>
              <% elsif controller_name == "today_tranings" && action_name == "traning_analysis" %>
                <% if subbodypart.id == @subbodypart_active && @subbodypart_active == params[:subbodypart_id].to_i %>
                  <a class="nav-link active" href="<%= user_today_tranings_traning_analysis_path(@user, bodypart_id: params[:bodypart_id], subbodypart_id: @subbodypart_active, traningtype_id: params[:traningtype_id], start_time: params[:start_time], start_date: params[:start_date]) %>"><%= subbodypart.sub_body_part %></a>
                <% elsif subbodypart.id == params[:subbodypart_id].to_i %>
                  <a class="nav-link active" href="<%= user_today_tranings_traning_analysis_path(@user, bodypart_id: params[:bodypart_id], subbodypart_id: params[:subbodypart_id].to_i, traningtype_id: params[:traningtype_id], start_time: params[:start_time], start_date: params[:start_date]) %>"><%= subbodypart.sub_body_part %></a>
                <% else %>
                  <a class="nav-link" href="<%= user_today_tranings_traning_analysis_path(@user, bodypart_id: params[:bodypart_id], subbodypart_id: subbodypart, traningtype_id: params[:traningtype_id], start_time: params[:start_time], start_date: params[:start_date]) %>"><%= subbodypart.sub_body_part %></a>
                <% end %>
              <% elsif controller_name == "traningevents" && action_name == "edit" || controller_name == "traningevents" && action_name == "update" %>
                <% if subbodypart.id == @subbodypart_active && @subbodypart_active == params[:subbodypart_id].to_i %>
                  <a class="nav-link active" href="<%= edit_user_traningevent_path(@user, bodypart_id: params[:bodypart_id], subbodypart_id: @subbodypart_active, traningtype_id: params[:traningtype_id], start_time: params[:start_time], start_date: params[:start_date]) %>"><%= subbodypart.sub_body_part %></a>
                <% elsif subbodypart.id == params[:subbodypart_id].to_i %>
                  <a class="nav-link active" href="<%= edit_user_traningevent_path(@user, bodypart_id: params[:bodypart_id], subbodypart_id: params[:subbodypart_id].to_i, traningtype_id: params[:traningtype_id], start_time: params[:start_time], start_date: params[:start_date]) %>"><%= subbodypart.sub_body_part %></a>
                <% else %>
                  <a class="nav-link" href="<%= edit_user_traningevent_path(@user, bodypart_id: params[:bodypart_id], subbodypart_id: subbodypart, traningtype_id: params[:traningtype_id], start_time: params[:start_time], start_date: params[:start_date]) %>"><%= subbodypart.sub_body_part %></a>
                <% end %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  
  <!--------------- Traningtypeタブ --------------->
  
  <div class="box1">
    <div class="tab-area">
      <ul class="nav nav-fill justify-content-center tab-menu" id="myTab" role="tablist">
        <li class="nav-item">
          <% if controller_name == "today_tranings" && action_name == "traning_new" %>
            <% unless params[:traningtype_id].present? %>
              <a class="nav-link active" href="<%= user_today_tranings_traning_new_path(@user, bodypart_id: params[:bodypart_id], subbodypart_id: params[:subbodypart_id], start_time: params[:start_time], start_date: params[:start_date]) %>">ALL</a>
            <% else %>
              <a class="nav-link" href="<%= user_today_tranings_traning_new_path(@user, bodypart_id: params[:bodypart_id], subbodypart_id: params[:subbodypart_id], start_time: params[:start_time], start_date: params[:start_date]) %>">ALL</a>
            <% end %>
          <% elsif controller_name == "traningevents" && action_name == "new" || controller_name == "traningevents" && action_name == "create" %>
            <% unless params[:traningtype_id].present? %>
              <a class="nav-link active" href="<%= new_user_traningevent_path(@user, bodypart_id: params[:bodypart_id], subbodypart_id: params[:subbodypart_id], start_time: params[:start_time], start_date: params[:start_date]) %>">ALL</a>
            <% else %>
              <a class="nav-link" href="<%= new_user_traningevent_path(@user, bodypart_id: params[:bodypart_id], subbodypart_id: params[:subbodypart_id], start_time: params[:start_time], start_date: params[:start_date]) %>">ALL</a>
            <% end %>
          <% elsif controller_name == "today_tranings" && action_name == "traning_analysis" %>
            <% unless params[:traningtype_id].present? %>
              <a class="nav-link active" href="<%= user_today_tranings_traning_analysis_path(@user, bodypart_id: params[:bodypart_id], subbodypart_id: params[:subbodypart_id], start_time: params[:start_time], start_date: params[:start_date]) %>">ALL</a>
            <% else %>
              <a class="nav-link" href="<%= user_today_tranings_traning_analysis_path(@user, bodypart_id: params[:bodypart_id], subbodypart_id: params[:subbodypart_id], start_time: params[:start_time], start_date: params[:start_date]) %>">ALL</a>
            <% end %>
          <% elsif controller_name == "traningevents" && action_name == "edit" || controller_name == "traningevents" && action_name == "update" %>
            <% unless params[:traningtype_id].present? %>
              <a class="nav-link active" href="<%= edit_user_traningevent_path(@user, bodypart_id: params[:bodypart_id], subbodypart_id: params[:subbodypart_id], start_time: params[:start_time], start_date: params[:start_date]) %>">ALL</a>
            <% else %>
              <a class="nav-link" href="<%= edit_user_traningevent_path(@user, bodypart_id: params[:bodypart_id], subbodypart_id: params[:subbodypart_id], start_time: params[:start_time], start_date: params[:start_date]) %>">ALL</a>
            <% end %>
          <% end %>
        </li>
        <% @traningtypes.each do |traningtype| %>
          <li class="nav-item">
            <% if controller_name == "today_tranings" && action_name == "traning_new" %>
              <% if traningtype.id == params[:traningtype_id].to_i %>
                <a class="nav-link active" href="<%= user_today_tranings_traning_new_path(@user, bodypart_id: params[:bodypart_id], subbodypart_id: params[:subbodypart_id], traningtype_id: params[:traningtype_id], start_time: params[:start_time], start_date: params[:start_date]) %>"><%= traningtype.traning_type %></a>
              <% else %>
                <a class="nav-link" href="<%= user_today_tranings_traning_new_path(@user, bodypart_id: params[:bodypart_id], subbodypart_id: params[:subbodypart_id], traningtype_id: traningtype, start_time: params[:start_time], start_date: params[:start_date]) %>"><%= traningtype.traning_type %></a>
              <% end %>
            <% elsif controller_name == "traningevents" && action_name == "new" || controller_name == "traningevents" && action_name == "create" %>
              <% if traningtype.id == params[:traningtype_id].to_i %>
                <a class="nav-link active" href="<%= new_user_traningevent_path(@user, bodypart_id: params[:bodypart_id], subbodypart_id: params[:subbodypart_id], traningtype_id: params[:traningtype_id], start_time: params[:start_time], start_date: params[:start_date]) %>"><%= traningtype.traning_type %></a>
              <% else %>
                <a class="nav-link" href="<%= new_user_traningevent_path(@user, bodypart_id: params[:bodypart_id], subbodypart_id: params[:subbodypart_id], traningtype_id: traningtype, start_time: params[:start_time], start_date: params[:start_date]) %>"><%= traningtype.traning_type %></a>
              <% end %>
            <% elsif controller_name == "today_tranings" && action_name == "traning_analysis" %>
              <% if traningtype.id == params[:traningtype_id].to_i %>
                <a class="nav-link active" href="<%= user_today_tranings_traning_analysis_path(@user, bodypart_id: params[:bodypart_id], subbodypart_id: params[:subbodypart_id], traningtype_id: params[:traningtype_id], start_time: params[:start_time], start_date: params[:start_date]) %>"><%= traningtype.traning_type %></a>
              <% else %>
                <a class="nav-link" href="<%= user_today_tranings_traning_analysis_path(@user, bodypart_id: params[:bodypart_id], subbodypart_id: params[:subbodypart_id], traningtype_id: traningtype, start_time: params[:start_time], start_date: params[:start_date]) %>"><%= traningtype.traning_type %></a>
              <% end %>
            <% elsif controller_name == "traningevents" && action_name == "edit" || controller_name == "traningevents" && action_name == "update" %>
              <% if traningtype.id == params[:traningtype_id].to_i %>
                <a class="nav-link active" href="<%= edit_user_traningevent_path(@user, bodypart_id: params[:bodypart_id], subbodypart_id: params[:subbodypart_id], traningtype_id: params[:traningtype_id], start_time: params[:start_time], start_date: params[:start_date]) %>"><%= traningtype.traning_type %></a>
              <% else %>
                <a class="nav-link" href="<%= edit_user_traningevent_path(@user, bodypart_id: params[:bodypart_id], subbodypart_id: params[:subbodypart_id], traningtype_id: traningtype, start_time: params[:start_time], start_date: params[:start_date]) %>"><%= traningtype.traning_type %></a>
              <% end %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <!--------------- Record && Createタブ --------------->
  
  <% unless controller_name == "today_tranings" && action_name == "traning_analysis" || controller_name == "traningevents" && action_name == "edit" || controller_name == "traningevents" && action_name == "update" %>
    <div class="box1">
      <ul class="nav nav-fill justify-content-center mb-3" id="myTab" role="tablist">
        <li class="nav-item">
          <% if controller_name == "today_tranings" && action_name == "traning_new" %>
            <a class="nav-link active" href="#Record">Record</a>
          <% else %>
            <a class="nav-link" href="<%= user_today_tranings_traning_new_path(@user, start_time: params[:start_time], start_date: params[:start_date]) %>">Record</a>
          <% end %>
        </li>
        <li class="nav-item">
          <% if controller_name == "traningevents" && action_name == "new" || controller_name == "traningevents" && action_name == "create" %>
            <a class="nav-link active" href="<%= new_user_traningevent_path(@user, traningtype_id: params[:traningtype_id], bodypart_id: params[:bodypart_id], subbodypart_id: params[:subbodypart_id], start_time: params[:start_time], start_date: params[:start_date])%>"> Create</a>
          <% else %>
            <a class="nav-link" href="<%= new_user_traningevent_path(@user, traningtype_id: params[:traningtype_id], bodypart_id: params[:bodypart_id], subbodypart_id: params[:subbodypart_id], start_time: params[:start_time], start_date: params[:start_date])%>"> Create</a>
          <% end %>
        </li>
      </ul>
    </div>
  <% end %>

  <!--------------- Createタブ時タイトル --------------->

  <% if controller_name == "traningevents" && action_name == "new" || controller_name == "traningevents" && action_name == "create" %>
    <ul class="nav nav-pills nav-fill justify-content-center" id="myTab" role="tablist">
      <li class="nav-item">
        <br><h4>現在の種目一覧</h4><br>
      </li>
    </ul>
  <% end %>

  <!--------------- TraningEventタブ --------------->
  <% if controller_name == "traningevents" && action_name == "new" || controller_name == "traningevents" && action_name == "create" || controller_name == "traningevents" && action_name == "edit" || controller_name == "traningevents" && action_name == "update" %>
    <div>
  <% else %>
    <div class="box1">
  <% end %>
      <div class="tab-area">
        <ul class="nav nav-fill justify-content-center tab-menu" id="myTab" role="tablist">
          <% @traningevents.each do |traningevent| %>
            <li class="nav-item">
              <% if controller_name == "today_tranings" && action_name == "traning_new" %>
                <% if traningevent.id == params[:traningevent_id].to_i %>
                  <a class="nav-link active", href="<%= user_today_tranings_traning_new_path(@user, bodypart_id: params[:bodypart_id], subbodypart_id: params[:subbodypart_id], traningtype_id: params[:traningtype_id], traningevent_id: traningevent, start_time: params[:start_time], start_date: params[:start_date])%>"><%= traningevent.traning_name %></a>
                <% else %>
                  <a class="nav-link", href="<%= user_today_tranings_traning_new_path(@user, bodypart_id: params[:bodypart_id], subbodypart_id: params[:subbodypart_id], traningtype_id: params[:traningtype_id], traningevent_id: traningevent, start_time: params[:start_time], start_date: params[:start_date])%>"><%= traningevent.traning_name %></a>
                <% end %>
              <% elsif controller_name == "traningevents" && action_name == "new" || controller_name == "traningevents" && action_name == "create" %>
                <div><%= traningevent.traning_name %></div>
              <% elsif controller_name == "today_tranings" && action_name == "traning_analysis" %>
                <% if traningevent.id == params[:traningevent_id].to_i %>
                  <%= link_to(user_today_tranings_traning_analysis_path(@user, bodypart_id: params[:bodypart_id], subbodypart_id: params[:subbodypart_id], traningtype_id: params[:traningtype_id], traningevent_id: traningevent, start_time: params[:start_time], start_date: params[:start_date]), class: "nav-link active", data: {"turbolinks"=>false}) do %>
                    <div><%= traningevent.traning_name %></div>
                  <% end %>
                <% else %>
                  <%= link_to(user_today_tranings_traning_analysis_path(@user, bodypart_id: params[:bodypart_id], subbodypart_id: params[:subbodypart_id], traningtype_id: params[:traningtype_id], traningevent_id: traningevent, start_time: params[:start_time], start_date: params[:start_date]), class: "nav-link", data: {"turbolinks"=>false}) do %>
                    <div><%= traningevent.traning_name %></div>
                  <% end %>
                <% end %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
</div>