<!DOCTYPE html>
<html>
  <head>
    <!-- width=device-widthにてブラウザの大きさをデバイスに合わせる。initial-scaleは画面の拡大率 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= include_gon %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    
    <!--ロゴ-->
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    
  </head>
  
  
  <% if controller.controller_name == "bmrs" && controller.action_name == "new" || controller.controller_name == "bmrs" && controller.action_name == "create" || controller.controller_name == "targetweights" && controller.action_name == "new" || controller.controller_name == "targetweights" && controller.action_name == "create" %>
    <body class="logout">
  <% elsif user_signed_in? %>
    <body class="login">
      <%= render 'layouts/side_bar' %>
      <%= render 'layouts/flashes' %>
  <% else %>
    <body class="logout">
  <% end %>
      <div class="bg_pattern Paper_v2"></div>
        <div class="section">
          <div class="container-field">
            <%= yield %>
            <%= debug(params) if Rails.env.development? %>
          </div>
        </div>
      </div>
    </body>
</html>
