
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <% @bodyparts.each do |bodypart| %>
  <li class="nav-item">
    
    <a class="nav-link" id="tab-bodypart-<%= bodypart.id %>" data-toggle="tab" href="#bodypart-<%= bodypart.id %>" role="tab" aria-controls="bodypart-<%= bodypart.id %>" aria-selected="true"><%= bodypart.body_part %></a>
  </li>
  <% end %>
</ul>

<div class="tab-content" id="myTabContent">
  <% @traningevents.each do |bodypart, traningevents| %>
  <div class="tab-pane fade" id="bodypart-<%= bodypart %>" role="tabpanel" aria-labelledby="tab-bodypart-<%= bodypart %>">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <% traningevents.each do |id, name| %>
      <li class="nav-item">
        <a class="nav-link" id="tab-traningevent-<%= id %>" data-toggle="tab" href="#traningevent-<%= id %>" role="tab" aria-controls="traningevent-<%= id %>" aria-selected="true"><%= name %></a>
      </li>
      <% end %>
    </ul>
  </div>
  <% end %>
</div>

<div class="tab-content" id="myTabContent">
  <% @traning_analysis.each do |analysis| %>
    <% analysis.each do |id, day, total, max| %>
      <div class="tab-pane fade" id="traningevent-<%= id %> role="tabpanel" aria-labelledby="tab-traningevent-<%= id %>">
        <div class="box1">
          <div class="row">
            <div class="col-12">
              <canvas id="total_load" width="1000" height="500"></canvas>
              <script>
                document.addEventListener('turbolinks:load', function() {
                  var ctx, total_load;
                  ctx = document.getElementById("total_load").getContext('2d');
                  return total_load = new Chart(ctx, {
                    type: 'line',
                    data: {
                      labels: data,
                      datasets: [
                        {
                          label: gon.traning_analysis,
                          data: gon.traning_analysis,
                          backgroundColor: 'rgba(0, 0, 255, 0.3)',
                          borderColor: '#0000FF',
                          borderWidth: 1,
                          hoverBackgroundColor: void 0,
                          spanGaps: true
                        }
                      ]
                    },
                    options: {
                      title: {
                        display: true,
                        text: '総負荷',
                        fontSize: 20,
                        fontColor: '#274277'
                      }
                    }
                  });
                });
              </script>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>