<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link" id="record-tab" href="<%= user_today_tranings_path(@user, start_time: params[:start_time], start_date: params[:start_date]) %>#record">Record</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" id="line-chart-tab"href="#line-chart">Line Chart</a>
  </li>
</ul>

<div class="tab-pane fade show active" id="line-chart" role="tabpanel" aria-labelledby="line-chart-tab">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <% @bodyparts.each do |bodypart| %>
    <li class="nav-item">
      <a class="nav-link" id="tab-bodypart-<%= bodypart.id %>" data-toggle="tab" href="#bodypart-<%= bodypart.id %>" role="tab" aria-controls="bodypart-<%= bodypart.id %>" aria-selected="true"><%= bodypart.body_part %></a>
    </li>
    <% end %>
  </ul>
  
  <div class="tab-content" id="myTabContent">
    <% @traningevents.each do |bodypart, traningevents| %>
    <div class="tab-pane fade" id="bodypart-<%= bodypart %>" role="tabpanel" aria-labelledby="tab-bodypart-<%= bodypart %>">
      <% traningevents.each do |id, name| %>
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <%= link_to(user_today_tranings_chart_traningevent_path(@user, bodypart_id: bodypart, traningevent_id: id, start_time: params[:start_time], start_date: params[:start_date]), class: "nav-link", data: {"turbolinks"=>false}) do %>
            <div><%= name %></div>
          <% end %>
        </li>
      </ul>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
