<div class="jumbotron">
  <div class="box1">
    <ul class="nav nav-fill justify-content-center" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= user_today_tranings_traning_new_path(@user, traningevent_id: 1, start_time: params[:start_time], start_date: params[:start_date]) %>">Record</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= user_today_tranings_traning_analysis_path(@user, traningevent_id: 1, start_time: params[:start_time], start_date: params[:start_date]) %>">Line Chart</a>
      </li>
    </ul>
  </div>
</div>

<div class="box1">
  <%= month_calendar events: @today_tranings do |date, events| %>
    <% unless date.to_date  > Time.current %>
      <%= link_to date.day, user_today_tranings_path(current_user, start_time: date, start_date: @first_day) %>
    <% else %>
      <%= date.day %>
    <% end %>
    <% @bodyparts.each do |bodypart| %>
      <% @todaytranings = @user.today_tranings.where(start_time: date, bodypart_id: bodypart).distinct.pluck(:bodypart_id) %>
      <% @todaytranings.each do |todaytraning| %>
        <% @today_bodypart = Bodypart.find(todaytraning) %>
        <p class="calender-event-box"><%= @today_bodypart.body_part %></p>
      <% end %>
    <% end %>
  <% end %>
</div>

<div class="box1">
  <div class="row">
    <div class="mx-auto">
      <%= link_to(user_today_tranings_path(current_user, start_time: params[:start_time].to_date.yesterday, start_date: params[:start_date])) do %>
        <div class="arrow round-arrow-left"></div>
      <% end %>
      <a style="color: #274277;"><%= params[:start_time] %></a>
      <% unless params[:start_time].to_date.tomorrow == Time.current.to_date.tomorrow %>
        <%= link_to(user_today_tranings_path(current_user, start_time: params[:start_time].to_date.tomorrow, start_date: params[:start_date])) do %>
          <div class="arrow round-arrow-right"></div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<% if @user.today_tranings.present? %>
  <div class="box1">
    <% @traningevents.each do |traningevent| %>
      <% @today_traning = @user.today_tranings.find_by(start_time: params[:start_time], traningevent_id: traningevent) %>
      <% if @today_traning.present? && @today_traning.traning_weight.present? %>
          <% @traningevent = @user.traningevents.find(@today_traning.traningevent_id) %>
          <h4 class="center"><%= @traningevent.traning_name if @today_traning.present? %></h4>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">セット数</th>
                  <th scope="col">重量</th>
                  <th scope="col">回数</th>
                  <th scope="col">ノート</th>
                </tr>
              </thead>
              
              <tbody>
                <% @today_tranings = @user.today_tranings.where(start_time: params[:start_time], traningevent_id: traningevent).order(:id).pluck(:id) %>
                <% @today_tranings.each_with_index do |item, i| %>
                  <% @today_traning = @user.today_tranings.find(item) %>
                  <% if @today_traning.traning_weight.present? && @today_traning.traning_reps.present? %>
                    <tr>
                      <th scope="row"><%= i + 1 %></th>
                      <td><%= @today_traning.traning_weight %></td>
                      <td><%= @today_traning.traning_reps %></td>
                      <td><%= @today_traning.traning_note %></td>
                    </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
      <% end %>
    <% end %>
  </div>
<% end %>