
<div class="box1">
  <div class="row">
    <div class="col">
      <%= month_calendar events: @today_traning_days do |date, events| %>
        <%= link_to date.day, user_today_tranings_path(current_user, start_time: date, start_date: @first_day) %>
        <% events.each do |event| %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="box1">
  <div class="row">
    <div class="col-md-3 offset-md-5 align-self-center">
      <%= link_to(user_today_tranings_path(current_user, start_time: params[:start_time].to_date.yesterday, start_date: params[:start_date].to_date.prev_month)) do %>
        <div class="arrow round-arrow-left"></div>
      <% end %>
      <a style="color: #274277;"><%= params[:start_time] %></a>
      <%= link_to(user_today_tranings_path(current_user, start_time: params[:start_time].to_date.tomorrow, start_date: params[:start_date].to_date.next_month)) do %>
        <div class="arrow round-arrow-right"></div>
      <% end %>
    </div>
    <div class="col-md-3 align-self-center">
      <%= link_to(user_bodyweights_calender_path(current_user, start_time: params[:start_time], start_date: params[:start_date]), remote: true) do %>
        <div class="calendar"></div>
      <% end %>
    </div>
  </div>
</div>

<div class="box1">
  <div class="row">
    <div class="col">
      <%= link_to "トレーニング記録", user_traningevents_path(current_user, today_traning_day_id: @today_traning_day, start_time: params[:start_time], start_date: params[:start_date]), class: "btn btn-lg btn-block btn-setup btn-original" %>
    </div>
  </div>
</div>

<% if @user.traningevents.present? %>
<div class="box1">
  <div class="row">
    <div class="col">
      
      <% @traningevents.each do |traningevent| %>
        <% @today_traning = @user.today_tranings.find_by(traningevent_id: traningevent) %>
        <% if @today_traning.present? && @today_traning.traning_weight.present? %>
          <div class="box2">
            <h3><span><%= @today_traning.traning_name if @today_traning.present? %></span></h3>
            <div class="inner">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">セット数</th>
                    <th scope="col">重量</th>
                    <th scope="col">回数</th>
                    <th scope="col">ノート</th>
                  </tr>
                </thead>
                
                <tbody>
                  <% @today_tranings = @user.today_tranings.where(traningevent_id: traningevent).pluck(:id) %>
                  <% @today_tranings.each_with_index do |item, i| %>
                    <% @today_traning = @user.today_tranings.find(item) %>
                    <tr>
                      <th scope="row"><%= i + 1 %></th>
                      <td><%= @today_traning.traning_weight %></td>
                      <td><%= @today_traning.traning_reps %></td>
                      <td><%= @today_traning.traning_note %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        <% end %>
      <% end %>
      
    </div>
  </div>
</div>
<% end %>
