<div class="modal-dialog" role="document">
  <div class="modal-content" style="width: 430px;">
    <div class="modal-header">
      <h5>Exercise</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <%= form_with(model: @today_exercise, url: user_today_exercise_path(
        start_date: params[:start_date], start_time: params[:start_time]), method: :patch, local: true) do |f| %>
      <div class="modal-body">
        <h5><%= ExerciseCategory.find(@today_exercise.exercise_category_id).name %></h5>
        <h6><%= ExerciseContent.find(@today_exercise.exercise_content_id).content %> (<%= ExerciseContent.find(@today_exercise.exercise_content_id).mets %>METs)</h6><br>
        <div>
          <div>
            <%= f.label '運動時間', class: "label-form" %>
          </div>
          <%= f.select :exercise_time_hour, options_for_select(0..23, {selected: @today_exercise.exercise_time_hour}), {}, { class: "form-control form-control-sm", style: 'display: inline-block; width: auto;' }  %>
          <%= f.label :exercise_time_hour, class: "label-form" %>
          <%= f.select :exercise_time_min, options_for_select((0..55).select { |i| i if i % 5  == 0 }, {selected: @today_exercise.exercise_time_min}), {}, { class: "form-control form-control-sm", style: 'display: inline-block; width: auto;' } %>
          <%= f.label :exercise_time_min, class: "label-form" %>
        </div><br>

        <div>
          <%= f.label :body_weight %>
          <div class="form-inline">
            <%= f.number_field :body_weight, step: "0.1", class: "form-control form-control-sm w-25" %>&nbsp;kg
          </div>
        </div><br>

        <div>
          <%= f.label :note, class: "label-form" %>
          <%= f.text_field :note, class: "form-control form-control-sm" %>
        </div><br>

        
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-secondary w-25" data-dismiss="modal">閉じる</button>
        <%= f.submit "登録", class: "btn btn-sm btn-primary w-25" %>
      </div>
    <% end %>
  </div>
</div>


<script>
// $(function() {
//     $('#today_exercise_exercise_category_id').change(function() {
//       $.get({
//         url: "<= edit_contents_user_today_exercises_path(current_user, params[:id], start_date: params[:start_date], start_time: params[:start_time]) %>",
//         data: { exercise_category_id: $('#today_exercise_exercise_category_id').has('option:selected').val() }
//       });
//     });
//   });
</script>
