<div class="modal-dialog" role="document">
  <div class="modal-content" style="width: 430px;">
    <div class="modal-header">
      <h5>運動登録</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <%= form_with(model: @today_exercise, url: user_today_exercises_path(
      @current_user, start_date: params[:start_date], start_time: params[:start_time]), method: :post, local: true) do |f| %>
      <div class="modal-body">
        <h5><%= ExerciseCategory.find(@category_params).name %>(<%= ExerciseContent.find(@content_params).content %>)</h5><br>
        <div>
          <div>
            <%= f.label '運動時間', class: "label-form" %>
          </div>
          <%= f.select :exercise_time_hour, options_for_select(0..23), {}, { class: "form-control form-control-sm", style: 'display: inline-block; width: auto;' }  %>
          <%= f.label :exercise_time_hour, class: "label-form" %>
          <%= f.select :exercise_time_min, options_for_select((0..55).select { |i| i if i % 5  == 0 }), {}, { class: "form-control form-control-sm", style: 'display: inline-block; width: auto;' } %>
          <%= f.label :exercise_time_min, class: "label-form" %>
        </div><br>

        <div>
          <%= f.label :body_weight %>
          <div class="form-inline">
            <%= f.number_field :body_weight, step: "0.1", value: @now_body_weight, class: "form-control form-control-sm w-25" %>&nbsp;kg
          </div>
        </div><br>

        <div>
          <%= f.label :note, class: "label-form" %>
          <%= f.text_field :note, class: "form-control form-control-sm" %>
        </div><br>

        <%= f.hidden_field :start_time, value: params[:start_time] %>
        <%= f.hidden_field :exercise_category_id, value: @category_params %>
        <%= f.hidden_field :exercise_content_id, value: @content_params %>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-secondary w-25" data-dismiss="modal">閉じる</button>
        <%= f.submit "登録", class: "btn btn-sm btn-primary w-25" %>
      </div>
    <% end %>
  </div>
</div>

<!--
<div class="box1 center">
  運動登録
</div>

<div class="box1">
  <= button_tag '登録', class: "btn btn-primary w-100px", form: "today_exercise-btn" %>
  
  <= link_to '一覧へ戻る', exercise_categories_path, class: "btn btn-secondary" %>
  
</div>

<= ExerciseCategory.find(@category_params).name %>
<= ExerciseContent.find(@content_params).content %>
<div class="box1">
  <= form_with(model: @today_exercise, url: user_today_exercises_path(
    @current_user, start_date: params[:start_date], start_time: params[:start_time]), method: :post, local: true) do |f| %>

      <= f.hidden_field :start_time, value: params[:start_time] %>
      <= f.hidden_field :exercise_category_id, value: @category_params %>
      <= f.hidden_field :exercise_content_id, value: @content_params %>

    <div>
    
      <= f.label 'カテゴリー', class: "label-form" %>
      <= f.select :exercise_category_id, options_from_collection_for_select(@categories, :id, :name),
                                          { prompt: true },
                                          { class: "form-control" }
      %>
    </div>

    <div>
      <= f.label 'コンテンツ', class: "label-form" %>
      <= f.select :exercise_content_id, options_from_collection_for_select(@contents, :id, :content),
                                        { include_blank: "カテゴリーを選択してください" },
                                        { class: "form-control" }
      %>
    </div>
    

    <div>
      <div>
        <= f.label :exercise_time, class: "label-form" %>
      </div>
      <= f.time_select :exercise_time, { start_hour: 0, end_hour: 23, minute_step: 5 },
                                        { class: "form-control", style: 'display: inline-block; width: auto;' }
      %>
    </div>

    <div>
      <= f.label :note, class: "label-form" %>
      <= f.text_field :note, class: "form-control" %>
    </div>

    <div>
      <= f.submit "更新", class: "btn btn-lg btn-original btn-form" %>
    </div>
  < end %>
</div>
-->

<script>
// $(function() {
//     $('#today_exercise_exercise_category_id').change(function() {
//       $.get({
//         url: "<= new_contents_user_today_exercises_path(current_user, start_date: params[:start_date], start_time: params[:start_time]) %>",
//         data: { exercise_category_id: $('#today_exercise_exercise_category_id').has('option:selected').val() }
//       });
//     });
//   });
</script>

