<div class="box1 center">
  運動編集<%= link_to 'aa', user_today_exercises_path(
    user_id: current_user, id: @today_exercise, start_date: params[:start_date], start_time: params[:start_time]) %>
</div>

<div class="box1">
  <%= form_with(model: @today_exercise, url: user_today_exercise_path(
    start_date: params[:start_date], start_time: params[:start_time]), method: :patch, local: true) do |f| %>

    <div>
      <%= f.label 'カテゴリー', class: "label-form" %>
      <%= f.select :exercise_category_id, options_from_collection_for_select(@categories, :id, :name),
                                          { prompt: true },
                                          { class: "form-control" }
      %>
    </div>

    <div>
      <%= f.label 'コンテンツ', class: "label-form" %>
      <%= f.select :exercise_content_id, options_from_collection_for_select(@contents, :id, :content),
                                        { include_blank: "カテゴリーを選択してください" },
                                        { class: "form-control" }
      %>
    </div>

    <div>
      <div>
        <%= f.label :exercise_time, class: "label-form" %>
      </div>
      <%= f.time_select :exercise_time, { start_hour: 0, end_hour: 23, minute_step: 5 },
                                        { class: "form-control", style: 'display: inline-block; width: auto;' }
      %>
    </div>

    <div>
      <%= f.label :note, class: "label-form" %>
      <%= f.text_field :note, class: "form-control" %>
    </div>

    <div>
      <%= f.submit "更新", class: "btn btn-lg btn-original btn-form" %>
    </div>
  <% end %>
</div>

<div class="box1">
  <%= link_to 'aa', new_user_today_exercise_path(current_user, start_date: params[:start_date], start_time: params[:start_time]) %>
</div>



<script>
$(function() {
    $('#today_exercise_exercise_category_id').change(function() {
      $.get({
        url: "<%= user_today_exercise_edit_contents_path(current_user, params[:id], start_date: params[:start_date], start_time: params[:start_time]) %>",
        data: { exercise_category_id: $('#today_exercise_exercise_category_id').has('option:selected').val() }
      });
    });
  });
</script>
