<div class="box1">
  <div class="center">
    <!-- <div class="col-md-3 offset-md-5 align-self-center"> -->
      <!-- <%= link_to user_today_exercises_path(current_user, start_time: params[:start_time].to_date.yesterday, start_date: params[:start_date].to_date.prev_month) do %>
        <div class="arrow round-arrow-left"></div>
      <% end %> -->
      <a style="color: #274277;"><%= params[:start_time].to_time.to_s(:date) %></a>
      <!-- <%= link_to user_today_exercises_path(current_user, start_time: params[:start_time].to_date.tomorrow, start_date: params[:start_date].to_date.next_month) do %>
        <div class="arrow round-arrow-right"></div>
      <% end %> -->
    <!-- </div> -->
    <a class="right">
      <%= link_to(user_today_exercise_calender_path(current_user, @today_exercises.first, start_time: params[:start_time], start_date: params[:start_date]), remote: true, class: "text-original") do %>
        <i class="fas fa-calendar-alt fa-lg"></i>
      <% end %>
    </a>
  </div>
</div>

<div class="box1 box1-padding">
  <h5 class="center">運動内容選択</h5>
  <div class="f-container exercise-category-group">
    <% @categories.each do |category| %>
      <details>
        <summary class="f-item exercise-category-btn btn btn-sm btn-original">
          <%= category.name %>
        </summary>
        <% category.exercise_contents.each do |content| %>
          <div class="box2-exercise content">
            <%= link_to content.content, new_user_today_exercise_path(
                current_user, start_date: params[:start_date], start_time: params[:start_time], exercise_category_id: category.id, exercise_content_id: content.id),
                class: "content-item",
                remote: true
            %>
          </div>
        <% end %>
      </details>
    <% end %>
  </div>
</div>

<div class="box1">
  <div class="col-md-12 align-self-center">
    <div class="exercise-chart">
      <canvas id="exercise_myChart" width="200" height="50"></canvas>
      <script>exercise_draw_graph();</script>
    </div>
  </div>
</div>

<div class="box1">
  <div>
    <table class="table table-sm table-striped table-bordered">
      <thead>
        <tr>
          <th class="align-middle">運動内容</th>
          <th>運動時間</th>
          <th>カロリー</th>
          <th><%= TodayExercise.human_attribute_name :note %></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @today_exercises.drop(1).each do |exercise| %>
          <tr>
            <td class="align-middle"><%= category(exercise) %> / <%= content(exercise) %></td>
            <td><%= exercise.exercise_time_hour %>時間<%= exercise.exercise_time_min %>分</td>
            <td><%= mets(exercise) %> cal</td>
            <td><%= exercise.note %></td>
            <td class="center">
              <%= link_to edit_user_today_exercise_path(
                user_id: current_user,
                id: exercise,
                start_date: params[:start_date], start_time: params[:start_time]
                ),
                class: "btn btn-sm btn-success",
                remote: true do
              %>
                <i class="fas fa-pencil-alt"></i>
              <% end %>
            </td>
            <td class="center">
              <%= link_to user_today_exercise_path(
                user_id: current_user,
                id: exercise,
                start_date: params[:start_date],
                start_time: params[:start_time],
                ),
                method: :delete,
                class: "btn btn-sm btn-danger",
                data: { confirm: "本当に削除しますか？" } do
              %>
                <i class="fas fa-trash-alt"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
        <tr> 
          <td class="align-middle">合計</td>
          <td><%= sum_today_exercise_time(@today_exercises) %></td>
          <td><%= sum_mets %> cal</td>
          <td colspan="3"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div id="calender" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="new-exercise-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="edit-exercise-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
