<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/0.5.7/chartjs-plugin-annotation.min.js"></script>

<div class="box1">
  <ul class="nav nav-fill justify-content-center" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link" href="<%= user_todaymeals_path(@user, start_time: params[:start_time], start_date: params[:start_date]) %>">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="<%= user_recipes_path(@user, timezone_id: 1, start_time: params[:start_time], start_date: params[:start_date]) %>">Record</a>
    </li>
    <li class="nav-item">
      <%= link_to(user_meals_analysis_index_path(@user, start_time: params[:start_time], start_date: params[:start_date]), class: "nav-link active",data: {"turbolinks"=>false}) do %>
        <div>Analysis</div>
      <% end %>
    </li>
  </ul>
</div>

<div class="box1">
  <ul class="nav nav-fill justify-content-center" id="myTab" role="tablist">
    <li class="nav-item">
      <% if params[:graph] == "line" %>
        <%= link_to(user_meals_analysis_index_path(@user, graph: "line", start_time: params[:start_time], start_date: params[:start_date]), class: "nav-link active",data: {"turbolinks"=>false}) do %>
          <div>LineChart</div>
        <% end %>
      <% else %>
        <%= link_to(user_meals_analysis_index_path(@user, graph: "line", start_time: params[:start_time], start_date: params[:start_date]), class: "nav-link",data: {"turbolinks"=>false}) do %>
          <div>LineChart</div>
        <% end %>
      <% end %>
    </li>
    <li class="nav-item">
      <% if params[:graph] == "rader" %>
        <%= link_to(user_meals_analysis_index_path(@user, graph: "rader", start_time: params[:start_time], start_date: params[:start_date]), class: "nav-link active",data: {"turbolinks"=>false}) do %>
          <div>RaderChart</div>
        <% end %>
      <% else %>
        <%= link_to(user_meals_analysis_index_path(@user, graph: "rader", start_time: params[:start_time], start_date: params[:start_date]), class: "nav-link",data: {"turbolinks"=>false}) do %>
          <div>RaderChart</div>
        <% end %>
      <% end %>
    </li>
  </ul>
</div>

<div class="box1">
  <div class="row">
    <div class="mx-auto">
      <h5>
        <%= link_to(user_meals_analysis_index_path(@user, start_time: params[:start_time], start_date: params[:start_date].to_date.prev_month), data: {"turbolinks" => false}) do %>
          <div class="arrow round-arrow-left"></div>
        <% end %>
        <%= params[:start_date].to_date.year %>年<%= params[:start_date].to_date.mon %>月
        <%= link_to(user_meals_analysis_index_path(@user, start_time: params[:start_time], start_date: params[:start_date].to_date.next_month), data: {"turbolinks" => false}) do %>
          <div class="arrow round-arrow-right"></div>
        <% end %>
      </h5>
    </div>
  </div>
</div>

<% if params[:graph] == "line" %>
  <div class="box1">
    <div class="row">
      <div class="col-md-12">
        <canvas id="myMealChart" width="500" height="300"></canvas>
        <script>meals_graph();</script>
      </div>
    </div>
  </div>
<% end %>

<% if params[:graph] == "rader" %>
  <div class="box1">
    <div class="row">
      <div class="col-md-12">
        <canvas id="myRadarChart" width="500" height="300"></canvas>
        <script>myfood_graph();</script>
      </div>
    </div>
  </div>
<% end %>